<h1>Build a Brand New Aquarium</h1>

<%= form_for @aquarium do |f| %>
    <%= f.label :owner %>:
    <%= f.text_field :owner %><br />
    <hr>
<div>
  <%= f.label :size %>:
  <%= f.number_field :size %><br />
  <hr>
  </div>
<div>
  <%= f.label :water %>:
  <%= f.check_box :water%><br />
</div>
   <div class="selectFish">
    <%= f.label :fish, class: "control-group"%>
    <div class="controls">
    <%= collection_select(:fish, :aquarium_id, Fish.all, :id, :kind, {:prompt=>"Select a Fishy"}) %>
    </div>
    </div>

    <%= f.submit %>


<% end %>




