

<h1 class="single-aquarium">This is   <%=@aquarium.owner%>'s Super Cool Aquatic Environment.
<hr><%=@aquarium.owner%> has a <%=@aquarium.size%>-sized Aquarium.


<h2><%=button_to "Edit This Aquarium", edit_aquarium_path, method: :get %> </h2>
<h2><%=button_to "Delete This Aquarium", aquarium_path, method: :delete %> </h2>
<h2><%=button_to "View all Aquaria", aquaria_path, method: :get %> </h2>